body {
    background-color: #fff;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif; */
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    margin-right: 10rem;
    padding: .15rem;
}

h1 {
    color: #000;
    font-family: 'Playfair Display', serif;  
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    color: #605B50;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;  
}

button {
    background-color: #0F2951;
    color: #fff;
    font-family: 'Playfair Display', serif; 
    font-size: .8rem;
    height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 15rem;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* fixed header  */
.header {
    background-image: url("public/images/white-wood.jpeg");
    border: 1px solid yellow; 
}

.logo {
    height: 125px;
    margin-left: 100px;
    margin-right: 50px;
}

.navigation {
    height: 3rem;
    width: 75%;
}

.navigation-ul {
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
}

.navigation a {
    color: #605B50;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/* content */
.content-container{
    background-image: url("public/images/white-wood.jpeg");
    border: 1px solid red;
    margin: auto;
    margin-top: 50px;
    width: 98%;
}

.picture-container {
    display: flex;
    flex-direction: row;
    height: 35rem;
    width: 100%;
}

.inner-content-container {
    align-items: center;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: auto;
    width: 90%
}

.content-info {
    align-items: center;
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
    display: flex;
    height: auto;
    padding: 1rem;
    width: 90%;
}

.content-pic {
    border: 1px dotted black;
    height: 20rem;
    object-fit: cover;
    width: 25rem;
}

.content-pic-zoom {
    border: 1px dotted black;
    height: 20rem;
    object-fit: none;
    width: 25rem;
}

/* form  */
.reservation-form-container {
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
    height: 10rem;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
    width: 90%;
}

.reservation-form {
    border: 1px dotted blue;
    padding: 2rem;
}

input[type=text] {
    border: 1px solid #82A2D5;
    font-family: 'Montserrat', sans-serif;
    height: 2rem;
    resize: vertical;
    width: 14rem;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0F2951;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 2rem;
    width: 14rem;
  }

  /* footer  */
.footer {
    background-image: url("public/images/wood.jpg");
    height: 28rem;
    position: relative;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    list-style-type: none;
}

.footer-navigation {
    bottom: 0;
    position: absolute;
}

.footer-navigation a {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 12px;
    /* padding: 1rem; */
    /* margin-right: -2rem; */
    text-decoration: none;
    text-transform: uppercase;
}
