body {
    background-color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    margin-right: 10rem;
    padding: .15rem;
}

h1 {
    color: #000;
    font-family: 'Playfair Display', serif;  
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;  
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: -.6rem;
    text-transform: uppercase;
}

p {
    color: #605B50;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;  
}

.footer-info {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;  
    margin-bottom: -.9rem;
}

button {
    background-color: #0F2951;
    color: #fff;
    font-family: 'Playfair Display', serif; 
    font-size: .8rem;
    height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 15rem;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
}

/* fixed header  */
.header {
    background-image: url("public/images/white-wood.jpeg");
    /* border: 1px solid yellow;  */
}

.logo {
    height: 125px;
    margin-left: 100px;
    margin-right: 75px;
}

.navigation {
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
    padding: .5rem
}

.navigation a {
    color: #605B50;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    margin-left: 2rem;
    margin-right: 4rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation.icon {
    display: none;
}

/* responsive navigation  */
a {
    color: #605B50;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase; 
}

@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation.responsive a {
        display: block;
        float: none;
        text-align: left;
    }
}
  
/* content */
.content-container{
    /* border: 1px solid red; */
    background-image: url("public/images/white-wood.jpeg");
    margin: auto;
    margin-top: 50px;
    width: 98%;
}

.picture-container {
    display: flex;
    flex-direction: row;
    height: 35rem;
    width: 100%;
}

.inner-content-container {
    /* border: 1px solid green; */
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: auto;
    width: 90%
}

.content-info {
    align-items: center;
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
    display: flex;
    height: auto;
    padding: 1rem;
    width: 90%;
}

.content-pic {
    /* border: 1px dotted black; */
    height: 20rem;
    object-fit: cover;
    width: 25rem;
}

.content-pic-zoom {
    /* border: 1px dotted black; */
    height: 20rem;
    object-fit: none;
    width: 25rem;
}

/* form  */
.reservation-form-container {
    border-bottom: 1px solid #ABA8A0;
    border-top: 1px solid #ABA8A0;
    height: 10rem;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
    width: 90%;
}

.reservation-form {
    /* border: 1px dotted blue; */
    padding: 2rem;
}

input[type=text] {
    border: 1px solid #82A2D5;
    font-family: 'Montserrat', sans-serif;
    height: 2rem;
    resize: vertical;
    width: 14rem;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0F2951;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 2rem;
    width: 14rem;
  }

  /* footer  */
.footer {
    background-image: url("public/images/wood.jpg");
    height: 28rem;
    margin-top: 2rem;
    position: relative;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 3rem;
}

.footer-content {
    margin-right: 6rem;
}

.footer-navigation {
    bottom: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
}

.footer-navigation a {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* responsive footer  */
a.footer-links {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .footer-navigation a:not(:first-child) {display: none;}
    .footer-navigation a.icon {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .footer-navigation.responsive {position: relative;}
    .footer-navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .footer-navigation.responsive a {
        display: block;
        float: none;
        text-align: left;
    }
}